.container
	.footer
		hr(style='margin: 30px 0 10px 0;')
		p.text-center &copy;&nbsp;
			a(href='http://davidmogar.com') David Moreno-García
			|  2014

link(rel='stylesheet', href='/stylesheets/style.css')
script(src='/javascripts/bootstrap.min.js')
