doctype html
html
  head
    title= title
    meta(name='author', content='David Moreno-García')
    meta(name='description', content='Exams generation')
    meta(name='keywords', content='smarty,questions,exams,answers')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/javascripts/smarty.js')
  body
    include header

    div.container
      block content

    include footer
